.custom-input {
	display: flex;
	flex-direction: row;
	border: none;
	font-size: 1em;
	color: var(--text);
	border-radius: var(--rounded-l);
	/* padding: 0.7rem 1.4rem; */
	width: 100%;
	align-items: center;
	overflow: hidden;
	background-color: white;
}

.custom-input input {
	font-size: 1em;
	color: var(--text);
	outline: none;
	border: none;
	padding: 0rem 1rem;
}

.custom-input img {
	mix-blend-mode: normal;
}

.custom-input::placeholder {
	color: var(--text-subtle);
	font-style: italic;
}
