.euskera-course-container {
	color: var(--text);
	margin-top: 4rem;
}

.euskera-course-container p {
	font-size: 1.1em;
	line-height: 32px;
}

.euskera-course-container__welcome {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: space-between;
}

.euskera-course-container__welcome span {
}

.euskera-course-container__welcome__image {
	padding: 2rem;
	align-self: center;
}

.euskera-course-container__welcome__text {
	padding: 2rem;
}

.euskera-course-container__welcome__text p {
	line-height: 32px;
}

.euskera-course-container__welcome__text h2 {
	/* margin: 1; */
	font-size: 2.8em;
	/* padding: 0.4rem 0;
	background-image: linear-gradient(to right, var(--warn) 0%, var(--warn) 100%);
	background-repeat: repeat-x;
	background-position: 0 100%;
	background-size: 100% 5px;
	display: inline-block; */
}

.euskera-course-container__main {
}

.euskera-course-container__main h1 {
	font-size: 3em;
	text-align: center;
}

.euskera-course-container__main h1 span {
	padding: 0.4rem 0;
	background-image: linear-gradient(
		to right,
		var(--primary) 0%,
		var(--primary) 100%
	);
	background-repeat: repeat-x;
	background-position: 0 90%;
	background-size: 100% 5px;
}

.euskera-course-container__main ul {
	list-style-type: none;
	margin: 0;
}

.euskera-course-container__main li {
	margin-bottom: 0.8rem;
}
