.sentence-card__container {
	/* position: relative; */
	margin: 2rem 0.5rem;
	/* background-color: white;
	border-radius: var(--rounded-l);
	box-shadow: var(--bshadow-elevate-2);
	overflow: hidden;
	margin-bottom: 1rem; */
}

.image-card__children {
	padding: 2rem 4rem;
	padding-bottom: 5rem;
	transition: all 0.25s ease-in-out;
}

.sentence-card__container img {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 90px;
	max-width: 100%;
	object-fit: cover;
	mask-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		from(rgba(0, 0, 0, 1)),
		to(rgba(0, 0, 0, 0))
	);
	border-radius: 0 0 var(--rounded-l) var(--rounded-l);
	user-select: none;
}


@media (min-width: 992px) {
	.sentence-card__container{
		margin: 2rem 0rem;
	}
}
