.category-box {
	color: white;
	margin: 0;
	font-size: 1rem;
	font-weight: bold;
	border-radius: var(--rounded-l);
	display: inline-block;
	width: 100%;
}

.category--gramar {
	background: var(--gramar-gradient);
}

.category--blog {
	background: var(--blog-gradient);
}

.category--vocabulary {
	background: var(--vocabulary-gradient);
}
