.old-paper {
  --paper-width: 95%;
  margin: 2rem 0;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3), 0 0 125px #8f5922 inset;
	background: #fffef0;
  font-family: "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
	width: var(--paper-width);
  margin: 0 auto;
	padding: 3em .8em;
}

.old-paper span {
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  padding: 0 1rem;
  opacity: 0.8;
}

.old-paper p {
  font-style: italic;
  font-size: 1.15rem;
}

.old-paper p::first-letter {
  float: left;
  /* font: 1.7em/1em Morris; */
  font-size: 1.4rem;
  text-shadow: 1px 1px 1px #000;
  margin: 0 .1rem;
}

@media (min-width: 768px) {
  .old-paper {
    --paper-width: 90%;
    padding: 4em;
  }
}
