.name-info-card {
	text-align: left;
}

.name-info-card p {
	margin: 0;
	font-size: 1.1em;
	margin-bottom: 1em;
	color: var(--text-subtle);
}

.name-info-card h4 {
	margin: 0 0 1rem 0;
	font-size: 1.8em;
	color: var(--text);
	display: block;
	font-style: italic;
}
