.pagination-box {
	background-color: white;
	border-radius: var(--rounded-l);
	font-weight: bold;
}

.pagination-box ul {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-between;
}

.pagination-box ul li {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	margin-left: 0.3rem;
	width: 30px;
	height: 30px;
	list-style-type: none;
	cursor: pointer;
	transition: background-color 0.2s;
}

.pagination-box ul li a {
	outline: none;
	width: 100%;
	text-align: center;
}

.pagination-box ul li:hover {
	background-color: var(--primary-light-2);
}

.pagination-box ul .selected {
	background-color: var(--primary);
	color: white;
}

.pagination-box ul .selected  a{
	color: white;
}

.pagination-box ul .selected:hover {
	background-color: var(--primary);
}
