.nav-items {
	display: none;
}

@media (min-width: 992px) {
	.nav-items {
		display: flex;
		align-items: center;
	}

	.nav-items a {
		border-radius: var(--rounded-l);
		border: 3px solid var(--primary);
		color: var(--primary);
		font-weight: bold;
		/* background-color: var(--primaryLight); */
	}

	.nav-items a:active {
		transform: scale(0.96);
	}

	.nav-items a:first-of-type {
		margin-right: 2rem;
	}
}
