.surname-finder {
	background-color: #fcfcfc;
	padding: 2rem 4rem;
	filter: var(--shadow-elevate-2);
	border-radius: var(--rounded-l);
	z-index: 1;
	position: relative;
	margin-bottom: 2rem;
}

.surname-finder__searchform {
	position: relative;
}
