.euskaltegis-container {
  margin-top: 5rem;
}

.euskaltegis-container h1 {
  font-size: 2.8em;
  text-align: center;
  padding: 0 1rem;
}

.euskaltegis-container p {
  color: var(--text-subtle);
  text-align: center;
  padding: 0 1rem;
  font-size: 1.12em;
}

.euskaltegis-container__banner-img {
  text-align: center;
}

.euskaltegis-container__banner-img img {
  max-height: 300px;
}

.euskaltegis-container__body {
  display: block;
  margin-top: 3rem;
}

@media (min-width: 1024px) {
  .euskaltegis-container__body {
    display: grid;
    column-gap: 1rem;
    grid-template-columns: clamp(500px, 50vw, 700px) 1fr;
  }
}
