.euskaltegis-container {
  margin-top: 2rem;
}

.euskaltegis-container h1 {
  font-size: 2.8em;
  text-align: center;
  padding: 0 1rem;
}

.euskaltegis-container__sub-title {
  color: var(--text-subtle);
  text-align: center;
  padding: 0 1rem;
  font-size: 1.12em;
}

.euskaltegis-container__more-info {
  background-color: #ffd56caa;
	display: block;
	padding: 2rem 2rem;
	margin: 1rem;
	text-align: center;
	position: relative;
	text-indent: 30px;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
	font-size: 1.1em;
}

.euskaltegis-container__more-info::before {
	text-indent: 0;
	color: var(--text-subtle);
	content: "i";
	position: absolute;
	top: 10px;
	left: 18px;
	display: block;
	font-size: 1.6em;
	font-family: serif;
	font-style: italic;
	margin-right: 0.25em;
}

.euskaltegis-container__banner-img {
  text-align: center;
}

.euskaltegis-container__banner-img img {
  max-height: 200px;
  width: 100%;
  filter: drop-shadow(4px 4px 0px var(--primary-light-2));
}

.euskaltegis-container__body {
  display: block;
  margin-top: 3rem;
}

@media (min-width: 1024px) {
  .euskaltegis-container h1 {
    text-align: left;
  }

  .euskaltegis-container__sub-title {
    text-align: left;
  }

  .euskaltegis-container {
    margin-top: 3rem;
  }

  .euskaltegis-container__list {
    margin-top: 7rem;
  }

  .euskaltegis-container__body {
    display: grid;
    column-gap: 2rem;
    grid-template-columns: clamp(500px, 50vw, 700px) 1fr;
  }

  .euskaltegis-container__more-info {
    margin: 1rem 0;
  }
}
