.translated-sentence {
	text-align: left;
	font-style: italic;
}

.translated-sentence p {
	margin: 0;
	font-size: 1.4em;
	font-weight: bold;
	margin-bottom: 1em;
}

.translated-sentence span {
	font-size: 1.1em;
	color: var(--text-subtle);
	display: block;
}
