.category-container {
	color: var(--text);
	padding: 0 1rem;
}

.category-container__button {
	cursor: pointer;
	display: block;
	margin: auto;
	margin-top: 2rem;
}

.category-container__description {
	/* padding: 0 1rem; */
	color: var(--text-subtle);
	font-size: 1em;
	margin-bottom: 2rem;
}

.category-container h1 {
	margin: 2rem 0rem;
	font-size: 3em;
	display: inline-block;
}

.category-container__title__underline--gramar {
	border-bottom: 4px solid var(--gramar);
}

.category-container__title__underline--blog {
	border-bottom: 4px solid var(--blog);
}

.category-container__title__underline--vocabulary {
	border-bottom: 4px solid var(--vocabulary);
}

@media (min-width: 992px) {
	.category-container__description {
		padding: 0;
		font-size: 1.2em;
	}
	.category-container h1 {
		margin: 0;
		font-size: 5em;
		margin-top: 5rem;
		margin-bottom: 1rem;
		padding-right: 20rem;
	}
}
