.online-course-button {
	position: relative;
	text-align: center;
	z-index: 1;
	background-color: white;
	color: var(--primary);
	margin: 0;
	font-size: 1rem;
	font-weight: bold;
	border-radius: var(--rounded-l);
	display: inline-block;
	border: 3px solid var(--primary);
	box-sizing: border-box;
	transition: color 250ms, border 250ms;
	overflow: hidden;
}

.online-course-button::before {
	content: "";
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	border-radius: var(--rounded-l);
	background-color: var(--primary);
	z-index: -1;
	transition: width 250ms;
}

.online-course-button:hover {
	color: white;
	border: 3px solid transparent;
}

.online-course-button:hover::before {
	width: 100%;
}
