.online-course-button {
	position: relative;
	text-align: center;
	z-index: 1;
	margin: 0;
	font-size: 1rem;
	font-weight: bold;
	display: inline-block;
	overflow: hidden;
	color: var(--text);
	padding: .8rem 1.1rem;
  --lp-primary: #5EAF00;
  --lp-primary-dark: #0A9797;
  --bk: white;
  /*background: linear-gradient(90deg, var(--lp-primary-dark), var(--lp-primary) 50%) border-box; */
  background: linear-gradient(var(--bk), var(--bk)) padding-box, linear-gradient(135deg, #8fcbdf, #b38fe5) border-box;
  border-radius: var(--rounded-l);
  box-shadow: var(--bshadow-elevate-1);
  border: 4px solid transparent;
}

.online-course-button:hover {
}
