.online-course-button {
	position: relative;
	padding: 0.8rem;
	text-align: center;
	z-index: 1;
	background: linear-gradient(270deg, var(--warn) 3.12%, var(--warn-c1) 100%);
	color: var(--text);
	margin: 0;
	font-size: 1rem;
	font-weight: bold;
	border-radius: var(--rounded-l);
	display: inline-block;
	border: 3px solid transparent;
	box-sizing: border-box;
	transition: transform 0.25s;
	overflow: hidden;
}

.online-course-button:hover {
	transform: scale(0.9);
}
