.article-content {
	color: var(--text);
}

.article-content h1 {
	font-size: 2.5em;
	padding: 0.3rem 0.7rem;
	text-align: center;
}

.article-content h2 {
	color: white;
	font-size: 1.5em;
	background-color: var(--primary);
	padding: 0.3rem 0.7rem;
	display: inline-block;
}

.article-content h3 {
	font-size: 1.2em;
	background-color: var(--primary-light-2);
	padding: 0.3rem 0.7rem;
	display: inline-block;
}

.article-content h4 {
	color: var(--primary);
	font-size: 1.1em;
	padding: 0 1rem;
}

.article-content p {
	position: relative;
	padding: 0 1rem;
	line-height: 160%;
}

.article-content li {
	padding: 0 1rem;
	margin-bottom: 0.7rem;
	line-height: 140%;
}

.article-content a {
	color: var(--secondary);
}

.article-content a:target {
	position: relative;
	top: -12rem;
}

.article-content blockquote {
	background-color: white;
	padding: 1rem 2rem;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
	border-left: 10px solid var(--primary);
	margin: 0;
}

.article-content img {
	max-width: 100%;
	mix-blend-mode: multiply;
	margin: auto;
	display: block;
}

.article-content .table-container {
	overflow: auto;
	display: block;
	position: relative;
}

.article-content table {
	margin: 1rem;
	margin-left: auto;
	margin-right: auto;
	border-spacing: 5px;
}

.article-content table thead {
	background-color: #008e9b11;
}

.article-content table thead th {
	text-align: center;
	padding: 1rem;
	border: 4px solid var(--primary);
}

.article-content table tbody {
	text-align: left;
}

.article-content table tbody td {
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
	background-color: white;
	padding: 1rem;
}

.article-content table tbody li {
	padding: 0;
	margin: 0;
	margin-bottom: 0.3rem;
}

/** COLOR & UTIL CLASSES **/
.article-content .wh {
	padding: 0 0.2rem;
}

.article-content .red {
	color: white;
	margin: 0 -0.1em;
	padding: 0.1em 0.1em;
	margin-left: -0.02em;
	background: transparent;
	background-image: linear-gradient(
			100deg,
			rgba(221, 4, 38, 0.4) 0.9%,
			rgba(221, 4, 38, 0.5) 2.4%,
			rgba(221, 4, 38, 0.6) 5.8%,
			rgba(221, 4, 38, 0.8) 93%,
			rgba(221, 4, 38, 0.6) 96%,
			rgba(221, 4, 38, 0.3) 98%
		),
		linear-gradient(
			180deg,
			rgba(255, 221, 64, 0) 0%,
			rgba(221, 4, 38, 0.3) 7.9%,
			rgba(255, 221, 64, 0.1) 15%
		);
	border-radius: 0.125em;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}

.article-content .green {
	margin: 0 -0.1em;
	padding: 0.1em 0.1em;
	margin-left: -0.02em;
	background: transparent;
	background-image: linear-gradient(
			100deg,
			rgba(100, 179, 100, 0.2) 0.9%,
			rgba(100, 179, 100, 0.5) 2.4%,
			rgba(100, 179, 100, 0.5) 5.8%,
			rgba(100, 179, 100, 0.7) 93%,
			rgba(100, 179, 100, 0.5) 96%,
			rgba(100, 179, 100, 0.3) 98%
		),
		linear-gradient(
			180deg,
			rgba(255, 221, 64, 0) 0%,
			rgba(100, 179, 100, 0.3) 7.9%,
			rgba(255, 221, 64, 0.1) 15%
		);
	border-radius: 0.125em;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}

.article-content .yellow {
	margin: 0 -0.06em;
	padding: 0.1em 0.06em;
	margin-left: -0.02em;
	background: transparent;
	background-image: linear-gradient(
			100deg,
			rgba(255, 213, 108, 0) 0.9%,
			rgba(255, 213, 108, 0.1) 2.4%,
			rgba(255, 213, 108, 0.3) 5.8%,
			rgba(255, 213, 108, 0.7) 93%,
			rgba(255, 213, 108, 0.5) 96%,
			rgba(255, 213, 108, 0.3) 98%
		),
		linear-gradient(
			180deg,
			rgba(255, 221, 64, 0) 0%,
			rgba(255, 213, 108, 0.3) 7.9%,
			rgba(255, 221, 64, 0.1) 15%
		);
	border-radius: 0.125em;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}

.article-content .blue {
	color: white;
	margin: 0 -0.06em;
	padding: 0.1em 0.06em;
	margin-left: -0.02em;
	background: transparent;
	background-image: linear-gradient(
			100deg,
			rgba(0, 107, 214, 0) 0.9%,
			rgba(0, 107, 214, 0.1) 2.4%,
			rgba(0, 107, 214, 0.5) 5.8%,
			rgba(0, 107, 214, 0.7) 93%,
			rgba(0, 107, 214, 0.5) 96%,
			rgba(0, 107, 214, 0.3) 98%
		),
		linear-gradient(
			180deg,
			rgba(255, 221, 64, 0) 0%,
			rgba(0, 107, 214, 0.3) 7.9%,
			rgba(4, 30, 51, 0.1) 15%
		);
	border-radius: 0.125em;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}

.article-content .purple {
	color: white;
	margin: 0 -0.06em;
	padding: 0.1em 0.06em;
	margin-left: -0.02em;
	background: transparent;
	background-image: linear-gradient(
			100deg,
			rgba(135, 93, 202, 0) 0.9%,
			rgba(135, 93, 202, 0.1) 2.4%,
			rgba(135, 93, 202, 0.5) 5.8%,
			rgba(135, 93, 202, 0.7) 93%,
			rgba(135, 93, 202, 0.5) 96%,
			rgba(135, 93, 202, 0.3) 98%
		),
		linear-gradient(
			180deg,
			rgba(255, 221, 64, 0) 0%,
			rgba(0, 107, 214, 0.3) 7.9%,
			rgba(4, 30, 51, 0.1) 15%
		);
	border-radius: 0.125em;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}

.article-content .border-green {
	border: 5px solid #64b36488;
}

.article-content .border-blue {
	border: 5px solid #006bd6;
}

.article-content .border-red {
	border: 5px solid #dd0426;
}

.article-content .table--equal_width {
	table-layout: fixed;
	width: 100%;
}

.article-content .fill-yellow {
	background-color: var(--warn-light);
}

.article-content .fill-red {
	background-color: var(--math-light);
}

.article-content .fill-blue {
	background-color: #bad4f2;
}

.article-content .fill-green {
	background-color: var(--correct-light);
}

.article-content .highlight {
	background-color: #ffd56caa;
	display: block;
	padding: 2rem 2rem;
	margin: 0;
	text-align: center;
	position: relative;
	text-indent: 30px;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
	font-size: 1.1em;
}

.article-content .highlight::before {
	text-indent: 0;
	color: var(--text-subtle);
	content: "i";
	position: absolute;
	top: 10px;
	left: 18px;
	display: block;
	font-size: 1.6em;
	font-family: serif;
	font-style: italic;
	margin-right: 0.25em;
}

/** TABLE CLASSES **/
.table-center td {
	text-align: center;
}

.table-italic-1 td:first-of-type {
	font-style: italic;
}

.table-italic-2 td:nth-of-type(2) {
	font-style: italic;
}

.table-bold-1 td:first-of-type {
	font-weight: bold;
}

.table-bold-2 td:nth-of-type(2) {
	font-weight: bold;
}

.emoji {
	font-style: normal;
	font-size: 1em;
}

/* BENEFIS AND DRAWBACKS LISTS */
.benefits-list ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.benefits-list  li {
	display: flex;
    padding-left: 1rem;
}

.benefits-list li::before {
	content: "✅";
	margin-right: 1rem;
}

.drawbacks-list ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.drawbacks-list  li {
	display: flex;
	padding-left: 1rem;
}

.drawbacks-list li::before {
	content: "❌";
	margin-right: 1rem;
}

.download-file {
	background-color: var(--warn);
	padding: 0.4rem 1rem;
	text-align: center;
	font-weight: bold;
	border-radius: var(--rounded-s);
	border: 2px solid transparent;
	transition: background 0.05s ease;
	width: fit-content;
	display: block;
	margin: auto;
	margin-top: 3rem;
	margin-bottom: 2rem;
	filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
}

.download-file:hover {
	background-color: var(--warn-c1);
}

.amazon-referal {
	background-color: #f4d078;
	padding: 0.4rem 1rem;
	text-align: center;
	font-weight: bold;
	border-radius: var(--rounded-s);
	color: #131a22;
	font-size: 0.85em;
	border: 2px solid transparent;
	transition: border 0.05s ease;
	width: fit-content;
	display: block;
	margin: auto;
	margin-top: 2rem;
}

.amazon-referal::after {
	content: "Ver en Amazon";
}

.amazon-referal:hover {
	border: 2px solid var(--text-subtle);
}



@media (min-width: 992px) {
	.article-content p {
		padding: 0;
	}

	.article-content h4 {
		padding: 0;
	}

	.article-content img {
		max-width: 80%;
	}

	.article-content blockquote {
		margin: 2rem 1.6rem;
	}

	.article-content table {
		margin-left: auto;
		margin-right: auto;
	}

	.article-content .highlight {
		margin: 2rem 1.6rem;
	}
}
