:root {
	/* ROUND */
	--rounded-s: 7px;
	--rounded-l: 32px;

	/* BREAKPOINTS */
	--large-bp: 992px;

	/* COLORS */
	--text: #363636;
	--text-subtle: #64666a;

	/* SHADOWS */
	--shadow-elevate-1: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
	--shadow-elevate-2: drop-shadow(0px 5px 25px rgba(0, 0, 0, 0.09));

	--primary: #1870d5;
	--primary-dark: #1357a6;
	--primary-c1: #4db0b9;
	--primary-light: #65bdeb;
	--primary-light-2: #d1e2f7;

	--secondary: #006bd6;
	--secondary-highlighter: #609edb;

	--clear: #f1f4f8;

	--warn: #ffd56c;
	--warn-c1: #f8de9c;
	--warn-light: #fffac8;

	--math: #dd0426;
	--math-c1: #d9338c;
	--math-highlighter: #d9485e;
	--math-light: #f8cdd4;

	--gramar: #8b3ab1;
	--gramar-c1: #875dca;
	--gramar-highlighter: #875dca;

	--correct: #64b364;
	--correct-highlighter: #9dd49d;
	--correct-light: #cfe5d0;

	--sand: #f7f7f0;

	--vocabulary: #fe994f;
	--vocabulary-c1: #f2bb68;

	--blog: #117c13;
	--blog-c1: #72b646;

	--spanish: var(--secondary);
	--spanish-c1: #3d71af;

	--utilities: #6495ed;
	--utilities-c1: #64a9ed;

	--tecnology: var(--primary);
	--tecnology-c1: #3f9590;

	--gramar-gradient: linear-gradient(
		270deg,
		var(--gramar) 3.12%,
		var(--gramar-c1) 100%
	);
	--blog-gradient: linear-gradient(
		270deg,
		var(--blog) 3.12%,
		var(--blog-c1) 100%
	);
	--vocabulary-gradient: linear-gradient(
		270deg,
		var(--vocabulary) 3.12%,
		var(--vocabulary-c1) 100%
	);
}

html,
body {
	color: var(--text);
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-overflow-scrolling: touch;
	scroll-behavior: smooth;

	background-color: #f4f5f9;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.button-padding-1 {
	padding: 0.4rem 1rem;
}

.button-padding-2 {
	padding: 1rem 2rem;
}
/** SHADOWS */
.elevate-1 {
	filter: var(--shadow-elevate-1);
}

.elevate-2 {
	filter: var(--shadow-elevate-2);
}

.hoverable-elevate {
	transition: transform 0.2s ease;
}

.hoverable-elevate:hover {
	transform: translateY(-2px);
}

/* KATEX */
.katex > .katex-html {
	white-space: normal;
}

.katex {
	font-size: 1.1rem;
	line-height: 2;
}
@media (min-width: 768px) {
	.katex {
		font-size: 1.2rem;
	}
}

.katex .base {
	margin-top: 2px;
	margin-bottom: 2px;
}
/* KATEX */
.slide-down {
	animation: slide1 1.5s ease-in-out infinite;
	margin-left: 9px;
}

.wave {
	animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
	animation-duration: 2.5s; /* Change to speed up or slow down */
	animation-iteration-count: infinite; /* Never stop waving :) */
	transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
	display: inline-block;
}

@keyframes slide1 {
	0%,
	100% {
		transform: translate(0, 0);
	}

	50% {
		transform: translate(0, 7px);
	}
}

@keyframes wave-animation {
	0% {
		transform: rotate(0deg);
	}
	10% {
		transform: rotate(14deg);
	} /* The following five values can be played with to make the waving more or less extreme */
	20% {
		transform: rotate(-8deg);
	}
	30% {
		transform: rotate(14deg);
	}
	40% {
		transform: rotate(-4deg);
	}
	50% {
		transform: rotate(10deg);
	}
	60% {
		transform: rotate(0deg);
	} /* Reset for the last half to pause */
	100% {
		transform: rotate(0deg);
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
