.basic-course-lp {
  --lp-primary: #5EAF00;
  --lp-primary-dark: #0A9797;
  font-size: 1.2rem;
}

.basic-course-lp__h-title {
  display: block;
	font-weight: bold;
	background: linear-gradient(to right, var(--lp-primary) 0%, var(--lp-primary-dark) 80%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.basic-course-lp__button {
  cursor: pointer;
  border: none;
  font-weight: bold;
  background-color: var(--lp-primary);
  color: white;
  font-size: 1.1rem;
	border-radius: var(--rounded-l);
	box-shadow: var(--bshadow-elevate-1_5);
  transition: opacity .15s ease-in-out;
}

.basic-course-lp__button:hover {
  opacity: .8;
}

.divider {
  color: red;
  fill: red;
  aspect-ratio: 960/192;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("/course-landing/layered-waves-haikei.svg");
}

.divider-2 {
  aspect-ratio: 960/192;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("/course-landing/layered-waves-haikei-2.svg");
}

.hero {
  margin: 1rem;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 1fr;
  column-gap: 2rem;
  justify-items: center;
  margin-bottom: 4rem;
}

.hero__text {
  text-align: center;
}

.hero__text h1 {
  margin: 0;
  font-size: clamp(2.5rem, 6vw, 4.5rem);
  line-height: 130%;
  letter-spacing: -1px;
}

.hero__text p {
  font-size: 1.4rem;
  color: var(--text-subtle);
}

.hero__img {
  grid-row: 1;
  position: relative;
  overflow: hidden;
  user-select: none;
  aspect-ratio: 1010/888;
  height: 100%;
}

.hero__img__blob {
  position: absolute;
  color: red;
  width: 100%;
  height: 100%;
  /* top: 50px; */
  left: 10px;
  transform: scale(2);
}
 
.hero__img__eusk {
  position: relative;
  width: 100%;
  height: 100%;
}

.video-section {
  padding: .7rem;
  background: linear-gradient(180deg, #BDD5EA 0%, #ddf0ee 80%);
  margin-top: 0;
}

.video-section__features {
  margin-top: 2rem;
  box-shadow: var(--bshadow-elevate-1);
  border-radius: var(--rounded-m);
  padding: 1rem 2rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: .4rem;
  padding-right: 1rem;
}

.video-section__features h3 {
  margin: 0;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: underline;
  text-decoration-color: #7091de;
  text-decoration-thickness: 3px;
}

.video-section__feature {
  display: flex;
  gap: 1rem;
}

.video-section__frame {
  margin-top: -26vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--rounded-s);
  /* border: 2px solid rgb(209, 209, 214); */
  background: #212b38;
  box-shadow: var(--bshadow-elevate-2);
  margin-inline: auto;
  max-width: 640px;
}

.video-section__frame__button {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.video-section__frame__button--red {
  background-color: rgb(255, 59, 48);
}

.video-section__frame__button--green {
  background-color: rgb(52, 199, 89);
}

.video-section__frame__button--yellow {
  background-color: rgb(255, 204, 0);
}

.video-section__text {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: min(-5vw, -5rem);
}

.video-section__title {
  color: var(--text);
  font-size: 2.4rem;
  margin-bottom: 1rem;
  text-align: center;
}

.video-section__content {
  padding: 0;
}

.learn_path h2 {
  font-size: 2.4rem;
  text-align: center;
}

.learn_path__elements {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
  /* grid-template-columns: 1fr; */
  font-size: 1.2rem;
  row-gap: 1rem;
  padding: 0 1rem;
}

.learn_path__feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem 2rem;
  border-radius: var(--rounded-s);
  box-shadow: var(--bshadow-elevate-1);
  background: linear-gradient(white, white) padding-box, linear-gradient(135deg, #8fcbdf, #b38fe5) border-box;
  border: 4px solid transparent;
}

.learn_path__feature span {
  margin-top: 1rem;
  margin-bottom: .4rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.learn_path__feature p {
  margin: 0;
  margin-bottom: 1rem;
  color: var(--text-subtle);
}

.learn_path__learn-content {
  list-style: none;
  padding: 1rem;
  margin: 0;
  text-align: left;
  color: var(--text);
}

.learn_path__learn-content li {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  display: flex;
  gap: .6rem;
}

.learn_path__learn-content li:not(:last-child) {
  border-bottom: 2px solid #e9ecef;
}

.learn_path__learn-content li p {
  margin: 0;
}

.opsection {
  background: linear-gradient(200deg, #BDD5EA 0%, #ddf0ee 100%);
  clip-path: polygon(0 10%,100% 0,100% 100%,0 100%);
  -webkit-clip-path: polygon(0 6%,100% 0,100% 100%,0 100%);
}

.opsection__opinions {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3rem;
  padding: 1rem;
  margin-top: 1rem;
}

.opsection__opinion__back {
  position: absolute;
  background: linear-gradient(90deg, #CE83E9 -0.05%, #EF8686 99.98%);
  height: 100%;
  top: 0;
  width: 100%;
  border-radius: var(--rounded-l);
  transform: rotate(0deg) translate(5px, 5px);
}

.opsection__opinion__front {
  position: relative;
  background: white;
  font-size: 1.2rem;
  padding: 1.2rem 2rem;
  border-radius: var(--rounded-l);
  box-shadow: var(--bshadow-elevate-2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.opsection__opinion__front p {
  color: var(--text-subtle);
  font-style: italic;
}

.opsection__opinion__front img {
  border-radius: 50%;
  width: 42px;
}

.opsection__opinion__front span {
  font-size: .8em;
  font-weight: bold;
}

.faq__questions {
  margin: 0;
  list-style: none;
  padding: 1rem;
}

.faq__questions li span {
  font-size: 1.2em;
  font-weight:600;
  text-decoration: underline;
  text-decoration-color: var(--primary);
  text-decoration-thickness: 3px;
}

.faq__questions li p {
  color: var(--text-subtle);
}

@media (min-width: 780px) {
  .hero__text h1 {
    /* font-size: 4.5rem; */
  }

  .hero {
    margin-top: 5rem;
    grid-template-columns: 55% 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    margin-bottom: 7rem;
  }

  .hero__text {
    text-align: left;
  }

  .hero__img {
    grid-column: 2;
    aspect-ratio: unset;
    height: auto;
  }
  
  .hero__img__eusk {
    width: 100%;
    height: auto;
  }
  

  .video-section__frame {
    margin-top: -12vw;
  }

  .video-section__text {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .video-section__features h3 {
    text-align: left;
  }
  
  .video-section__title {
    font-size: 3rem;
    text-align: left;
  }

  .divider {
    aspect-ratio: 960/109;
  }

  .divider-2 {
    aspect-ratio: 960/109;
  }

  .learn_path h2 {
    font-size: 3rem;
  }

  .learn_path__elements {
    /* grid-template-columns: 1fr 1fr; */
    flex-direction: row;
    font-size: 1.2rem;
    justify-content: center;
    /* column-gap: 2rem; */
  }

  .learn_path__feature {
    width: 45%;
  }

  .opsection__opinions {
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
  }
  
  .opsection__opinion__front {
    height: 100%;
  }
}
